# yaml-language-server: $schema=https://json.schemastore.org/github-workflow
name: "Meta - Label Sync"

on:
  workflow_dispatch:
  push:
    branches: [main]
    paths: [.github/labels.yaml]
  schedule:
  - cron: "0 0 * * *" # Every day at midnight

permissions:
  issues: write

jobs:
  label-sync:
    name: Label Sync
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4.2.1

    - name: Sync Labels
      uses: EndBug/label-sync@52074158190acb45f3077f9099fea818aa43f97a # v2.3.3
      with:
        config-file: .github/labels.yaml
        token: ${{ secrets.GITHUB_TOKEN }}
        delete-other-labels: true
